.price-card {
  position: relative;
}

.wishlist-icon {
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  color: rgb(192, 54, 54);
  cursor: pointer;
}
.wishlist-icon:hover {
  color: red;
}
